#/******************************************************************************
# * w_scan_cpp - a dtv channel scanner based on VDR (www.tvdr.de) and it's
# * Plugins.
# *
# * See the README file for copyright information and how to reach the author.
# *****************************************************************************/


#/******************************************************************************
# * binaries and objects
# *****************************************************************************/

*.dll
*.exe
*.lib
*.o
*.so
*.so.*
w_scan_cpp


#/******************************************************************************
# * subdirs
# *****************************************************************************/

vdr


#/******************************************************************************
# * Packages
# *****************************************************************************/

*.7z
*.tgz
*.tar.bz2
*.tar.xz
*.zip


#/******************************************************************************
# * logs, confs, diffs, pdf, OS files, ...
# *****************************************************************************/

*.diff
*.patch
*.log
*.txt
*.html
*.conf
*.pdf
*.inc
*.xspf
*.dat
*.m3u
README.md
Thumbs.db
